<article class="new-post-form">
    <div class="title">
        <span>
            <a href="/post/{{id}}" target="_blank">{{title}}</a>
            <p>by {{user.username}} on {{format_date created_at}}</p> 
        </span>
    </div>
    <div class="post-text">
        <p>{{post_text}}</p>
    </div>
</article>

<script src="/javascript/add-post.js"></script>